@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,100;1,500;1,700;1,900&display=swap');

:root{
    --nav-bar-background:#2E2E48;
    --header--footer--padding--full:9vw;
    --grey-white:#FFF;
    --grey-light:#C0C6C9;
    --grey-normal:#586870;
    --gray-blue-grey-blue-98: #2E2E48;
    --gray-blue-grey-blue-80: #ADB8CC;
    --gray-blue-grey-blue-70: #7D8FB3;
    --gray-blue-grey-blue-50: #4D5E80;
    --gray-blue-grey-blue-60: #252B48;
    --prime-letter-color: #FFFFFF;
    --site-button-color:#33BBC5;
    --font-weight-light: 400;
    --font-weight: 700;
    --font-weight-strong: 900;
    --font-family: 'Roboto', sans-serif; 
    --font-family-links: 'Roboto Condensed', sans-serif;
    --font-family-links-2: 'Poppins', sans-serif;
    --color-violet: #5933C5;
    --color-green-1: #33BBC5;
    --color-green-2: #85E6C5;
    --color-green-3: #C8FFE0;
    --color-grey:#FFFFFF;
    --background-color: #202032;
    --background-color-containers: #2E2E48;
    --font-size-general: 18px;
    --font-size-section: 16px;
    --font-size-summary: 15px;
    --font-size-bullets: 12px;
    --font-size-dates: 12px;
    --font-size-titles: 24px;
    --font-size-subtitles: 20px;
    --references-color-icon: rgba(255, 255, 255, 0.8);
    --references-icon-size:10;
    --skill-color-icon:rgba(255, 255, 255, 0.8);
    --skill-icon-size:10;
    --expand-experience-button:var(--grey-light);
    --expand-skill-button:var(--grey-light);
    --expand-education-button:var(--grey-light);
    --expand-post-button:var(--grey-light); 
    --location-icon-color: var(--grey-light);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body {
    height:100%;
}


a{
    color: var(--grey-light);
    font-weight: var(--font-weight);
    text-decoration: none;
}

body{
    background-color: var(--background-color);
}

main{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px;
    min-height: 70vh;
}

button{
    cursor: pointer;
}

.boxContainer{
    border-radius: 10px;
    /* Shadows/Gray Blue 30/3%/5b */
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
    border: 10px;
    padding: 20px;
}

span{
    color: var(--prime-letter-color);
}

textarea:focus, input:focus{
    outline: none;
}

p{
    color: var(--prime-letter-color);
}

h1{
    color: var(--grey-white);;
    font-size: 70px;
    font-weight: var(--font-weight);
    font-family: var(--font-family-links);
    line-height: 60px;
}

h2{
    font-size: 32px;
    padding: 5px;
    color: var(--prime-letter-color);
    font-weight: var(--font-weight-strong);
    font-family: var(--font-family-links);
}

h3{
    padding: 5px;
    color: var(--prime-letter-color);
    font-family: var(--font-family-links);
}

ul{
    padding: 15px 40px 15px 40px;
}

.successMessage{
    padding: 5px;
    color: var(--prime-letter-color);
    font-family: var(--font-family-links);
    font-size: 40px;
}

@media screen and (max-width: 900px) {
    main{
        padding: 0px 10px;
        flex-direction: column;
    }

    .btnPrimary{
        font-size: 16px;
    }

}

@media screen and (max-width: 300px) {
    main{
        padding: 0px 10px;
        flex-direction: column;
    }

    .btnPrimary{
        font-size: 12px;
    }

    h1{
        font-size: 35px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 15px;
    }

    .iconContactSection{
        font-size: 14px;
    }
}

