main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100vw;
}

button{
    background: transparent;
}


main > div {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}

main > div:nth-child(2) > div:nth-child(2) > span{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container{
    font-size: var(--font-size-general);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    width: 90%;
    padding: 50px;
}

.about > span:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about > span:nth-child(2){
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.about > span:nth-child(2) > h1{
    width: 50%;
}

.profileImage{
    border-radius: 200px;
    width: 200px;  
    height: 200px;
    object-fit: cover;
    object-position: 35% 35%; 
    border: 5px solid var(--color-green-1);
}

.experienceContainer, .educationContainer, .skillMenuContainer, .skillMenuContainerSoft{
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: var(--font-size-general);
    border-radius: 5px;
    gap:10px;
    /*border: 2px solid var(--background-color-containers);
    background: var(--background-color-containers);*/
}

.skillMenuContainer, .skillMenuContainerSoft{
    padding: 5px;
}

.skillMenuContainerSoft{
    flex-direction: row;
}

.skillMenuContainerSoft, .skillMenuContainer{
    border: 1px solid var(--background-color);
    background: var(--background-color);
}

.contactContainer{
    display: flex;
    flex-direction: row;
    padding: 15px;
    font-size: var(--font-size-general);
    background-color: var(--background-color);
    border-radius: 5px;
    border: 1px solid var(--background-color-containers);
}


.experienceContainer, .educationContainer{
    border: 3px solid var(--background-color-containers);
}

.experienceContainer{
    width: 100%;
}

.educationContainer{
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 70%;
}

.experienceParentContainer{
    padding: 30px;
    width: 60vw;
    /*border-left: 2px solid var(--background-color-containers);
    border-top: 2px solid var(--background-color-containers);*/
}

.skillParentContainer{
    width: 20vw;
    /*background-color: var(--background-color-containers);*/
    border: 5px solid var(--background-color-containers);
    padding: 30px;
}

.contactDetail{
    display: flex;
    gap:10px;
    align-items: center;
}

.contactAddress{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: var(--font-size-general);
    gap: 3px;
}
.contactIconsContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.experienceContainer > span{
    padding: 5px;
    width: 100%;
} 

.experienceContainerBullets{
    display: flex;
}

.summaryContainer{
    background-color: var(--background-color-containers);
    border-radius: 10px;
}

.dates, .skillBullet, .skillBulletAside, .references{
    padding: 5px;
    font-size: var(--font-size-bullets);
    font-weight: var(--font-weight);
    border-radius: 5px;
    border: 1px solid var(--background-color);
    background-color: var(--background-color-containers);
    color: var(--grey-white);
}

.skillBulletAside{
    border: 1px solid var(--color-green-1);
    color:var(--grey-white);
    margin:2px;
}

.dates{
    padding: 7px;
    font-size: var(--font-size-dates);
    margin-right: 5px;
    color:var(--grey-white);
    border: 1px solid var(--color-green-1);
}

.company{
    display: flex;
    align-items: center;
    gap: 10px;
}

.company > img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.company > a{
    color: var(--grey-white);
    font-weight: var(--font-weight-strong);
    font-size: var(--font-size-titles);
    font-family: var(--font-family-links);
}

.skillBullet{
    background-color: var(--color-violet);
}

.skillBulletContainer{
    margin-top: 5px;
    font-size: var(--font-size-bullets);
    display: flex;
    align-items: center;
    gap: 5px;
}

.skillBulletContainer > span:nth-child(2) {
    display: flex;
    gap: 2px;
}

.skillContainer{
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.references{
    padding: 15px;
    font-size: var(--font-size-section);
    background-color: var(--background-color);
}

.references > span{
    display: flex;
    align-items: center;
    gap: 2px;
}

.titleBubble, .instituteBubble{
    display: flex;
    align-items: center;
    gap:5px;
}

.instituteBubble{
    padding: 5px;
    display: flex;
}

.titleBubble{
    color: var(--color-grey);
    border-radius: 10px;
}

.titleBubble > span:nth-child(2){
    color: var(--color-grey);
    font-weight: var(--font-weight-strong);
}

.homeSectionContainer{
    display: flex;
    align-items: center;
    width: 100%;
    gap:15px;
}

.homeSectionContainer > div:nth-child(1){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--color-grey);
    font-size: var(--font-size-general);
    padding-left: 8px;
    width: 35px;
}

.homeSectionContainer > div:nth-child(2){
    width: 100%;
}

.timelineContainer{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.vertical {
    border-left: 2px solid var(--background-color);
    position: absolute;
    z-index: -1;
    height: 97%;
    padding: 15px;
    border-radius: 5px;
    background: rgb(32,32,50);
    background: linear-gradient(0deg, rgba(32,32,50,1) 9%, rgba(89,51,197,1) 100%);
}

.iconContactSection:hover{
    font-size: 15px;
    color: var(--color-green-1);
}

.instituteBubble > span {
    display: flex;
    align-items: center;
}

.instituteBubble > span > span {
    display: flex;
    align-items: center;
}

.educationSummary{
    padding: 5px;
    font-size: var(--font-size-summary);
}

.educationSummaryHidden{
    display: none;
}


@media screen and (max-width: 1200px) {

    .experienceParentContainer{
        padding: 10px;
        width: 60vw;
        /*border-left: 2px solid var(--background-color-containers);
        border-top: 2px solid var(--background-color-containers);*/
    }
    
    .skillParentContainer{
        width: 30vw;
        /*background-color: var(--background-color-containers);*/
        border: 2px solid var(--background-color-containers);
    }

}

@media screen and (max-width: 900px) {
    header{
        padding: 20px;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }
    header > div:nth-child(2){
        display: none;
    }

    main{
        align-items: center;
    }

    .contactContainer{
        padding: 10px;
    }

    .contactFormContainer{
        padding: 30px;
        width: 100%;
    }

    main > div:nth-child(2){
        width: 100%;
        flex-direction: column;
    }

    .experienceParentContainer, .skillParentContainer, .educationContainer{
        width: 100%;
        gap:25px;
        border: none;
        padding: 15px;
        justify-content: center;
    }

    .dates{
        font-size: 9px;
    }

    .experienceContainer, .educationContainer{
        width: 100%;
    }

    .about{
        width: 95%;
    }

    .homeSectionContainer > div:nth-child(1){
        width: 5%;
    }

    .skillParentContainer{
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
    }

    .skillParentContainer > div:nth-child(1){
        width: 80%;
    }

    .skillParentContainer > div{
        align-items: center;
    }

    .experienceParentContainer, .skillParentContainer{
        padding: 10px;
        width: 100vw;
    }

}

@media screen and (max-width: 800px) {
    .about{
        flex-direction: column;
    }

    .about > span{
        width: 100%;
    }

    h1{
        font-size: 60px;
    }

    .experienceParentContainer, .skillParentContainer, .educationContainer{
        width: 100%;
        gap:25px;
        border: none;
        padding: 5px;
        justify-content: center;
    }

    .about > span:nth-child(2){
        padding: 20px;
        width: 100%;
    }
    
    .about > span:nth-child(2) > h1{
        width: 100%;
    }

    main > div{
        gap:50px;
    }

}

@media screen and (max-width: 500px) {
    .about{
        padding: 5px;
    }

    :root{
        --font-size-general: 16px;
        --font-size-section: 10px;
        --font-size-bullets: 9px;
        --font-size-dates: 8px;
        --font-size-titles: 18px;
        --font-size-subtitles: 16px;
    }

    .dates{
        font-size: 8px;
    }

    h1{
        font-size: 55px;
    }

    .container{
        padding: 4px;
    }

}

@media screen and (max-width: 300px) {
    h1{
        font-size: 42px;
    }

    
}
    